body {
    background: lightpink;
}

main {
    width: 100%;
    height: 768px;
}

h1 {
    font-size: 72px;
    text-align: center;
}

div {
    margin:auto;
    text-align: center;
}


#mySelfie{
    margin-top: 50px;
}

#myGlasses {
    display: flex;
    margin-top: 80px;
}

#firstItem:hover {
    filter:grayscale(100%);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#secondItem:hover {
    filter:grayscale(100%);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#thirdItem:hover {
    filter:grayscale(100%);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#fourthItem:hover {
    filter:grayscale(100%);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#fifthItem:hover {
    filter:grayscale(100%);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

#changingImage:hover {
    filter:saturate(1.5);
    transform: scale(1.1);
    transition: all 0.3s ease;
}




@media only screen and (max-width: 1300px) {

    main {
        width: 1300x;
        height: auto;
    }

    #myGlasses {
        display:flex;
        flex-wrap:nowrap;
        margin-top: 80px;
    }

    #changingImage {
        width:70%;
    }

    img {
        width: 90%;
    }

    #thirdItem {
        width:101%
    }
  
}

