body {
    height: 768px;
    background: lightskyblue;
}

main {
    width: 100%;
    background: red;
}

h1 {
    font-size: 72px;
    text-align: center;
}

div {
    margin:auto;
    text-align: center;
    background: chocolate;
}

#previous {
    margin-left: 40%;
}

#next {
    margin-left: 10%;
}


#mySelfie{
    display: block;
    margin-top: 100px;
}

#myGlasses {
    display: flex;
    margin-top: 100px;
}

#firstItem:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
}

#secondItem:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
}

#thirdItem:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
}

#fourthItem:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
}

#fifthItem:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
}




/* @media only screen and (max-width: 1500px) {

    div {
        width: 740px;
        height: 250px;
    }

    #myGlasses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 200px;
        margin-right: 10%;
    }

    #firstGlasses div {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #secondGlasses div {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #thirdGlasses div {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #fourthGlasses div {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #fifthGlasses div {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 50%;
    }

    img {
        width: 50%;
    }
  
}

@media only screen and (max-width: 1300px) {

    div {
        width: auto;
    }

    #myGlasses {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    img {
        width:50%
    }

} */

