body {
    font-family: 'Varela', sans-serif;
    background-color: #f2f2f2;
}

#banner {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 800px;
    height: 250px;
}

#banner div{
    background-color: black;
    color: #fff;
    transition-property:inherit;
    transition-duration: 1.5s;
}


#banner div:hover {
    width: 400px;
    cursor: pointer;
}

#banner1 {
    transition-timing-function: linear;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner2 {
    transition-timing-function: ease;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner3 {
    transition-timing-function: ease-in;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner4 {
    transition-timing-function: ease-in;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    min-width: 800px;
    align-content: center;
    margin: auto;
}

header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 5rem;
    padding-bottom: 1rem;
    display: block;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-left: 75px;;
}



li {
    list-style-type: none;
    background: none;
    padding: 5px;
    transition: 1.5s;
    text-align: left;
    margin-left: 70px;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: black;
}

.a {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.b {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.c {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

footer {
    padding-top: 80px;
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}