body {
    font-family: 'Varela', sans-serif;
    background-color: #dddddd;
}

#banner {
    padding-top: 50px;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 800px;
    height: 250px;
    margin-left: 16.5%;
}

#banner div{
    background-color: #1F2326;
    color: #dddddd;
    transition-property:inherit;
    transition-duration: 1.5s;
}


#banner div:hover {
    width: 400px;
    cursor: pointer;

}

#banner1 {
    transition-timing-function: linear;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner2 {
    transition-timing-function: ease;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner3 {
    transition-timing-function: ease-in;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

#banner4 {
    transition-timing-function: ease-in;
    height: 42.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1200px;
    min-width: 800px;
}

header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 5rem;
    display: block;
    justify-content: center;
    margin-top: 70px;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: #1F2326;
    font-weight: bolder;
    margin-top: 20px;
}

h2 {
    font-size: 1.3em;
    color: #1F2326;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: #1F2326;
    font-weight: bold;
    text-align: center;
}



li {
    list-style-type: none;
    transition: 1.5s;
    text-align: center;
    padding-left: 50px;
    margin-left: -23%;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: #1F2326;
}

.a {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.b {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 3;  
}

.c {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

footer {
    padding-top: 80px;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
}