body {
    font-family: stylish, sans-serif;
    align-content: center;
    background-color: #f2f2f2;
    margin: auto;
}

div {
    display: block;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-width: 1200px;
    margin: auto;
}