body {
    font-family: 'Maven Pro', sans-serif;
    background: linear-gradient(#e4bcd5,#AB9D87,#E2D9D3);
    height: 1200px;
}

main {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 768px; 
}


h1{
    font-size: 5rem;;
    padding: 80px;
    text-align: center;
    color: darkolivegreen;
}

a {
    text-decoration: none;
    color: brown;
    text-align: center;
}

a:hover {
    color: black;
}

h2 {
    font-size: 1.1rem;
    text-align: left;
    color: #BD4258;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    color: brown; 
    padding-bottom: 10px;
}

p {
    font-size: 1.1rem;
    text-align: left;
    color:#290A0D;
    line-height: 25px;
    
}

article {
    padding:50px;
    padding-bottom: 50px;
}

footer {
    padding-top: 80px;
}