body {
    font-family: 'Maven Pro', sans-serif;
    background: #dddddd;
    height: auto;
}

main {
    margin: auto;
    text-align: center;
    background-color: #1F2326;
    width: 850px;
    height: auto; 
    border-radius: 50px;
}


h1{
    font-size: 4rem;;
    padding-top: 100px;
    text-align: center;
    color: #1F2326;
}

h4 {
    font-size: 1.2rem;
    text-align: left;
    color:#EFA829;
    padding: 15px;
}

figcaption {
    padding-top: 15px;
    color:#dddddd;
    padding-bottom: 20px;
    color: #EFA829;
}

a {
    text-decoration: none;
    color: #06BF8B;
    text-align: center;
    transition: 1s;
}

a:hover {
    color: #F24E29;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 16px;
    color: #1f2326;
    background-color:#dddddd;
    border-radius: 30px;
    width: 260px;
    height: 38px;
    margin-left: -10%;
}

h3 {
    padding-top: 30px;
    font-size: 1.3rem;
    text-align: center;
    color:#5EF2D7; 
    padding-bottom: 25px;
}

p {
    font-size: 1.1rem;
    text-align: left;
    color:#dddddd;
    line-height: 25px;
    text-indent: 80px;
    transition: 2s;
    
}

article {
    padding:50px;
    padding-bottom: 10px;
}

footer {
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 180px;
}
