body {
    background-color: black;
    max-width: 1366px;
}

/* Add Media @*/

main {
    max-height: 768px;
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.2fr 2fr;
}

h1 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin-top: 100px;;
    margin-bottom: 50px;
    color:#ff6ec7;
}

div {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

form {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 15%;
}

label {
    margin-top: 50px;
}

label, input {
    margin-left: 55px;
    display: block;
    color:#ff6ec7;
}

input {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 280px;
    height: 40px;
    color:#fff857;
    background-color: #000000;
    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff073a;
}

#submitButton {
    color: #3eff15;
    border-style: solid;
    border-width: 4px;
    width: 150px;
    height: 40px;
    border-color: #fff857;
    margin-left: 36%;
}


p {
    color:whitesmoke;
}

    /* Create Overlay for myResult
    text font and color change
    create hover state */